.container {
    grid-area: search;
    align-self: center;
    display: flex;
    flex-direction: row;

}

.placeholder {
    height: 2rem;
    width: 100%;
    font-size: 1.1rem;
    border: none;
    outline: none;
    background-color: transparent;
}

.searchButton {
    border: 0;
    outline: 0;
    margin-left: 5px;
    background-color: transparent;
    cursor: pointer;
    opacity: .6;
}