.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.title {
    font-size: 2rem;
    grid-area: title;
    align-self: flex-start;
}
