.pageContainer {
   display: grid;

   grid-template-areas: 
   "header header header"
   "banner banner orderMenu"
   "menu menu orderMenu";

   gap: 1.5rem;

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
}


.banner {
   
}

.menu {
  
}

.menuCategory {

}

.showMenuItems {

}

.orderMenu {
  
}